.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fixed {
  background: #bbb;
}

.grid td {
  border: 1px solid #bbb;
  width: 25px;
  height: 25px;
}

.grid td:not(.fixed, .total) {
  cursor: pointer;
}

.grid {
  border-collapse: collapse;
}

.grid-container {
  margin: 0 30px;
}

.grid.finished td:not(.total) {
  background: #80dd80;
}