.App-Body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  color: white;
}

.AppTitle {
  margin-bottom: 0px;
}

.grid td {
  border: 1px solid #bbb;
  width: 25px;
  height: 25px;
  text-align: center;
}

.backgroundImage {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundImage.T {
  background-image: url("/images/down.gif");
}

.backgroundImage.L {
  background-image: url("/images/right.gif");
}

.backgroundImage.R {
  background-image: url("/images/left.gif");
}

.backgroundImage.B {
  background-image: url("/images/up.gif");
}

.backgroundImage.W {
  background-image: url("/images/water.gif");
}

.backgroundImage.S {
  background-image: url("/images/single.gif");
}

.backgroundImage.M {
  background-image: url("/images/middle.gif");
}

.backgroundImage.Q {
  background-image: url("/images/question_mark.gif");
  background-size: 125%;
}

.fixed.backgroundImage.T {
  background-image: url("/images/down_fixed.gif");
}

.fixed.backgroundImage.L {
  background-image: url("/images/right_fixed.gif");
}

.fixed.backgroundImage.R {
  background-image: url("/images/left_fixed.gif");
}

.fixed.backgroundImage.B {
  background-image: url("/images/up_fixed.gif");
}

.fixed.backgroundImage.W {
  background-image: url("/images/water_fixed.gif");
}

.fixed.backgroundImage.S {
  background-image: url("/images/single_fixed.gif");
}

.fixed.backgroundImage.M {
  background-image: url("/images/middle_fixed.gif");
}

.shipSquare {
  height: 25px;
  width: 25px;
  display: inline-block;
  border: 1px solid #aaa;
  text-align: center;
}

.ship span {
  visibility: hidden;
  vertical-align: top;
  cursor: default;
}

.ship.found span {
  visibility: visible;
  color: greenyellow;
  font-size: 20px;
}

.shipsContainer {
  text-align: left;
  margin: 30px 0;
}

.shipsListHeader {
  margin-bottom: 5px;
}

.shipsListDescription {
  margin-bottom: 10px;
}

.ship {
  margin: 5px;
  display: inline-block;
}

.grid td:not(.fixed, .total) {
  cursor: default;
}

.grid {
  border-collapse: collapse;
}

.grid-container {
  margin: 0 30px;
}

.gridTitle {
  margin-bottom: 15px;
}

.success .gridTitle {
  display: none;
}

.success td:not(.total) {
  border-color: #80dd80;
}

.successMessage {
  display: none;
  margin-bottom: 15px;
}

.success .successMessage {
  display: block;
  color: greenyellow;
}

